---
layout: default
---
<div class="page-content-header">
  <div class="page-content-header-title">{{ page.title }}</div>
  <p style="font-style: italic; font-size: 16px; margin-bottom: 8px;">{{ page.subtitle }}</p>
  <div class="page-content-header-date">
    {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
    {{ page.date | date: date_format }}
  </div>
</div>
<br>
<article>
  <div class="page-wrapper">
    {% if page.title != 'About' %}

    {% endif %}

    {{ content }}
    <hr />
  </div>
</article>